root = true

[*.{sh,bash}] # for shfmt
indent_style = space
indent_size = 2
# -bn, --binary-next-line  binary ops like && and | may start a line
binary_next_line = true
case_indent = true
switch_case_indent = true

[*.{md,yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
